@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #102a42;
  --text-color-pre: #fff;
  --textsub-color: #617d98;
  --white-color: #fff;
  --primary-color: rgba(233, 185, 73, 1);
  --background-color: #eafaec;
  --background-color-skill: #f1f5f8;
  --background-color-cover: #f1f5f8;

  --spacing: 0.27rem;
  --header-height: 5rem;
}

@media (prefers-color-scheme: dark) {
  [data-theme="dark"] {
    --text-color: #fff;
    --text-color-pre: #102a42;
    --textsub-color: #f9efc5;
    --white-color: #133139;
    --primary-color: rgba(233, 185, 73, 1);
    --background-color: #051418;
    --background-color-skill: #072026;
    --background-color-cover: #bdbcbc;
  }
}

body {
  font-family: "nunito-sans", system-ui, sans-serif;
  margin: 0;
  padding: 0;
}
